@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "lato", sans-serif;
}

.movie-container {
  margin: 2rem 0;
}
.movie-container select {
  background-color: whitesmoke;
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.movie-container select:focus {
  outline: none;
}
.seat {
  background-color: #444451;
  height: 1.2rem;
  width: 1.5rem;
  margin: 0.3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.row {
  display: flex;
}
.seat.selected {
  background-color: #6feaf6;
}
.seat.occupied {
  background-color: #fff;
}
.seat:nth-of-type(2) {
  margin-right: 1.8rem;
}
.seat:nth-last-of-type(2) {
  margin-left: 1.8rem;
}
.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}
.showcase {
  /* background: rgba(146, 135, 135, 0.1); */
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 30rem;
}
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}
.showcase li small {
  margin-left: 2rem;
}
.screen {
  background-color: whitesmoke;
  height: 7rem;
  width: 100%;
  margin: 1.5rem 0;
  transform: scale(-45reg);
  box-shadow: 0 0.3rem 1rem rgba(255, 255, 255 0.7);
}
.container {
  perspective: 1000px;
}

p.text {
  margin: 1.5rem 0;
}
